body{
  text-align: center;
  font-family: impact, sans-serif;
}
div{
  width: 350px;
  height: 350px;
  border: 3px double black;
  display: inline-block;
  overflow: hidden;
}
.highScoreDiv{
  height: 50px;
  border: none;
}
h2{
  font-size: 85px;
  margin: 0;
  position: relative;
  top: 35%;
}
h3{
  font-size: 45px;
  margin: 0;
}
.red{
  color: red;
}
.green{
  color: green;
}
#red-div{
  background: red;
}
#green-div{
  background:green;
}
